<html ng-app="TechTalkMessageBoard">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <style>
      pre {
        border: 1px dashed #eee;
        color: #f1f1f1;
        padding: 1rem;
      }
      textarea {
        box-shadow: inset 0 0px 8px 0px #666;
        border: 1px solid #eee;
        font-family: monospace;
        padding: 1rem;
        width: 100%;
      }
      pre,
      textarea {
        min-height: 80rem;
        max-height: 80rem;
      }
      textarea:focus {
        background-color: #fffed5;
        outline: 0;
      }
      .application-state-manager {
        background: #333;
        margin: 3rem 0 0;
        padding: 2em 0;
      }
      .label {
        background: #f1f1f1;
        font-weight: bold;
        letter-spacing: 1px;
        padding: .25rem 1rem;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <application-root></application-root>
    </div>
    <application-state-manager></application-state-manager>
  </body>
  <script>
    angular.module('TechTalkMessageBoard', [
      'StateManagementToolKit'
    ])
    .service('Events', function(){
      var search = null;
      this.setSearch = function(searchValue) {
        search = searchValue;
      };

      this.getSearch = function(searchValue) {
        return search;
      };
    })
    .service('Store', function(){
      this.applicationState = {
        messages: [
          { sender: 'User1', subject: 'Message 1', body: "This is the first message for sure" },
          { sender: 'User2', subject: 'Message 2', body: "This is the second message for sure" },
          { sender: 'User1', subject: 'Message 3', body: "I'm still sending you messages!"},
        ],
        loginStatus: 'Logged In',
        currentView: 'Messages',
        searchText: 'potatoes please'
      };
    })
    .directive('applicationRoot', function(Store){
      return {
        restrict: 'E',
        replace: true,
        template: ''+
          '<div>' +
          '  <header-bar login-status="loginStatus()" current-view="currentView()"></header-bar>' +
          '  <message-search search-text="searchText()"></message-search>' +
          '  <message-list messages="messages()"/></message-list>' +
          '</div>',
        link: function(scope){
          scope.messages = function() { return Store.applicationState.messages };
          scope.loginStatus = function() { return Store.applicationState.loginStatus };
          scope.currentView = function() { return Store.applicationState.currentView };
          scope.searchText = function() { return Store.applicationState.searchText };
        }
      };
    })
    .directive('headerBar', function(){
      return {
        restrict: 'E',
        scope: {
          user: '=',
          loginStatus: '=',
          currentView: '='
        },
        template: '' +
          '<nav class="navbar navbar-light bg-faded">'+
          '  <div class="nav navbar-nav">'+
          '    <a class="nav-item nav-link active" href="#">Pivotal Messenger <span class="sr-only">(current)</span></a>'+
          '    <login-link login-status="loginStatus"></login-link>'+
          '    <message-view-toggle-link current-view="currentView"></message-view-toggle-link>' +
          '  </div>'+
          '</nav>',
        link: function(scope){}
      };
    })
    .directive('loginLink', function(){
      return {
        restrict: 'E',
        scope: { loginStatus: '=' },
        replace: true,
        template: '' +
          '<a class="nav-item nav-link href="#">{{ loginStatus }}</a>',
      };
    })
    .directive('messageViewToggleLink', function(){
      return {
        restrict: 'E',
        scope: { currentView: '=' },
        replace: true,
        template: '' +
          '<a class="nav-item nav-link" href="#">{{ currentView }}</a>'
      };
    })
    .directive('messageList', function(){
      return {
        restrict: 'E',
        scope: { messages: '=' },
        template: ''+
          '<ul class="list-group"><message message="message" ng-repeat="message in messages track by $index" /></ul>'
      };
    })
    .directive('message', function(){
      return {
        restrict: 'E',
        scope: { message: '=' },
        replace: true,
        template: '' +
          '<li class="list-group-item"><h5 class="list-group-item-heading">{{ message.subject }}</h5><p class="list-group-item-text"><span>{{ message.body }}</span><span class="pull-lg-right pull-md-right"><reply-button user="message.sender"></reply-button></span></p></li>'
      };
    })
    .directive('replyButton', function(){
      return {
        restrict: 'E',
        scope: { user: '=' },
        replace: true,
        template: '' +
          '<button class="btn btn-default">Reply to {{ user }}</button>'
      };
    })
    .directive('messageSearch', function(Events){
      return {
        restrict: 'E',
        scope: { searchText: '=' },
        replace: true,
        template: '' +
          '<div class="input-group input-group-lg">'+
          '  <input type="text" class="form-control" placeholder="message containing..." ng-model="searchText">'+
          '</div>'
      };
    });

    angular.module('StateManagementToolKit', [])
    .directive('applicationStateManager', function(Store){
      return {
        restrict: 'E',
        replace: true,
        template: '' +
          '<div class="application-state-manager clearfix">' +
          '<div class="container">' +
          '  <div class="col-lg-6 col-md-6">' +
          '   <div class="label">State Editor</div>' +
          '   <textarea rows="40" ng-model="totalState" ng-change="appStateChanged()"/>' +
          '  </div> ' +
          '  <div class="col-lg-6 col-md-6">' +
          '   <div class="label">State Preview</div>' +
          '   <pre>{{ reflectedApplicationState() | json }}</pre>' +
          '  </div>' +
          '</div>' +
          '</div>',
        link: function(scope){
          scope.reflectedApplicationState = function() { return Store.applicationState; };

          scope.totalState = JSON.stringify(Store.applicationState);

          scope.appStateChanged = function(){
            Store.applicationState = JSON.parse(scope.totalState);
          };
        }
      };
    })
  </script>
</html>
